.hero {
    background: #eff4fd;
    position: relative;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px, 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5cm;
    width: auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px, 20px;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    border-radius: 10px;
    background-color: black;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}

.details {
    margin-left: 8%;
    margin-top: 12%;
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: rgb(194, 43, 43);
}

.details p{
    color: #555;
    line-height: 22px;
}

.details a{
    background-color: #212121;
    padding: 0.3cm;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 30px, 0;
    border-radius: 5px;
}

.details a:hover{
    color: red;
}

.image {
    width: 25%;
    height: 80%;
    position: absolute;
    margin-right: 5cm;
    bottom: 0%;
    right: 100px;
}